<div class="au-o-flow">
  <div id="ember-test"></div>
  <AuCard @flex="true" as |c|>
    <c.header>
      <AuHeading @level="2" @skin="4" id="describe-search">
        {{t 'vendor.subject.modal.head-2'}}
      </AuHeading>
    </c.header>
    <c.content>
      <PowerSelect
        @ariaLabel="Zoekbalk"
        @search={{perform this.search}}
        @options={{this.options}}
        @allowClear={{true}}
        @searchEnabled={{true}}
        @loadingMessage="Aan het laden..."
        @searchMessage="Typ om te zoeken"
        @noMatchesMessage="Geen resultaten"
        @destination="ember-test"
        @optionsComponent={{component
          "infinite-select/options"
          canLoadMore=this.searchData.canLoadMoreSearchResults
          loadMore=(perform this.loadMoreSearchResults)
          isLoadingMore=this.loadMoreSearchResults.isRunning
        }}
        @registerAPI={{this.registerAPI}}
        @onChange={{@appendBestuurseenheid}} as |eenheid|>
          {{eenheid.naam}} ({{eenheid.classificatie.label}})
      </PowerSelect>
    </c.content>
  </AuCard>

  <AuCard @flex="true" as |c|>
    <c.header>
      <AuHeading @level="2" @skin="4">
        {{t 'vendor.subject.modal.head-3'}}
      </AuHeading>
    </c.header>

    <c.content>
        <div class=""  {{auto-focus '.au-c-button' }}>
          {{#each @bestuurseenhedenLijst as |eenheid|}}
            <AuPill class="au-u-margin-bottom-small">
                {{eenheid.naam}}  <AuIcon @icon="cross" @size="medium" {{on 'click' (fn @removeBestuurseenheid eenheid) }}/>
            </AuPill>
          {{/each}}
        </div>
    </c.content>
  </AuCard>
</div>
