<div class="au-o-flow">
  <AuHeading @level="2" @skin="4" id="describe-search">
    {{t 'vendor.subject.modal.head-2'}}
  </AuHeading>
  <PowerSelect
    @ariaLabel="Zoekbalk"
    @allowClear={{true}}
    @renderInPlace={{true}}
    @searchEnabled={{true}}
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @searchMessage="Typ om te zoeken"
    @options={{this.options}}
    @selected={{this.selected}}
    @search={{perform this.search}}
    @optionsComponent={{component
      "infinite-select/options"
      canLoadMore=this.searchData.canLoadMoreSearchResults
      loadMore=(perform this.loadMoreSearchResults)
      isLoadingMore=this.loadMoreSearchResults.isRunning
    }}
    @registerAPI={{this.registerAPI}}
    @onChange={{@appendBestuurseenheid}} as |eenheid|>
      {{eenheid.naam}} ({{eenheid.classificatie.label}})
  </PowerSelect>

  <AuCard @flex="true" as |c|>
    <c.header>
      <AuHeading @level="2" @skin="4">
        {{t 'vendor.subject.modal.head-3'}}
      </AuHeading>
    </c.header>

    <c.content>
        <div>
          {{#each @bestuurseenhedenLijst as |eenheid|}}
            <AuPill class="au-u-margin-bottom-small">
                {{eenheid.naam}}  <AuIcon @icon="cross" @size="medium" {{on 'click' (fn @removeBestuurseenheid eenheid) }}/>
            </AuPill>
          {{/each}}
        </div>
    </c.content>
  </AuCard>
</div>