<div class="infinite-select-options">
  <PowerSelect::Options
    @loadingMessage={{@loadingMessage}}
    @select={{@select}}
    @options={{@options}}
    @groupIndex=""
    @optionsComponent={{@optionsComponent}}
    @extra={{@extra}}
    @highlightOnHover={{@highlightOnHover}}
    @groupComponent={{@groupComponent}}
    ...attributes
    as |option select|
  >
    {{yield option select}}
  </PowerSelect::Options>
  {{#if @canLoadMore}}
    <div class="au-o-box au-o-box--tiny">
      <AuButton
        @skin="secondary"
        @width="block"
        @loading={{if @isLoadingMore "true"}}
        @disabled={{if @isLoadingMore "true"}}
        {{on "click" @loadMore}}
      >
        {{t "vendor.subject.modal.load-more"}}
      </AuButton>
    </div>
  {{/if}}
</div>