<div class="au-o-body-container au-o-box au-o-layout au-u-margin-top au-u-margin-bottom">
    <AuHeading class="au-o-region">{{t 'vendor.subject.main.head-1'}}</AuHeading>

    <AuCard @flex="true" class="au-u-margin-bottom" as |c|>
      <c.header @badgeSkin="brand" @badgeIcon="users">
        <AuHeading @level="2" @skin="4">
          {{this.model.name}} ({{this.model.uri}})
        </AuHeading>


      </c.header>
      <c.content>
        <div class="au-o-box">
          <AuLabel for="input-regular" class="au-u-bold">{{t 'vendor.subject.card.head-1'}}</AuLabel>
          <AuInput id="input-regular" type={{if this.hiddenKeyState "text" "password"}}
            value="{{this.model.key}}" readonly />
          <AuButton {{on 'click' (toggle "hiddenKeyState" this)}}>{{t 'vendor.subject.card.button-1'}}</AuButton>
          <AuButton {{on 'click' (fn this.copyToClipboard this.model.key)}} @skin="secondary">{{t 'vendor.subject.card.button-2'}}</AuButton>
        </div>
      </c.content>
    </AuCard>
    <AuToolbar class="au-o-region" as |Group|>
      <Group>

        <AuHeading @skin='3'>{{t 'vendor.subject.table.head-1'}}</AuHeading>

      </Group>
      <Group>
        <AuModal @buttonTitle={{t 'vendor.subject.table.button-1'}} @modalTitle="{{t 'vendor.subject.modal.head-1'}}">
          <AuModalBody>
            <BestuurseenheidToevoegen
              @onListBestuurseenheden={{this.listBestuurseenheden}}
              @appendBestuurseenheid={{this.appendBestuurseenheid}}
              @bestuurseenhedenLijst={{this.bestuurseenhedenLijst}}
              @removeBestuurseenheid={{this.removeBestuurseenheid}} />
          </AuModalBody>
          <AuModalFooter>
            <AuButton {{ on 'click' ( fn this.addToList this.model )}}>{{t 'vendor.subject.modal.button-1'}}</AuButton>
          </AuModalFooter>
        </AuModal>
      </Group>
    </AuToolbar>
        {{outlet}}
</div>
