{{page-title (t "vendor.index.main.head-1")}}
<div class="au-o-body-container au-o-box au-o-layout">
  <div class="au-u-margin-top au-u-margin-bottom">

    <AuHeading @level="1" @skin="2" class="au-u-margin-bottom">
      {{t 'vendor.index.main.head-1'}}
    </AuHeading>

    <AuDataTable @content={{this.model}} @fields="Vendors" @noDataMessage="Geen vendors gevonden" @sort={{this.sort}}
      @size={{this.size}} @page={{this.page}} @isLoading={{this.isLoading}} as |f|>
      <f.content as |c|>
        <c.header>
          <AuDataTableThSortable @field="name" @currentSorting={{this.sort}} @label={{t 'vendor.index.table.row-1'}} @class="data-table__header-title" />
          <th>{{t 'vendor.index.table.row-2'}}</th>
          <th>{{t 'vendor.index.table.row-3'}}</th>
        </c.header>
        <c.body as |vendor|>
          <td>
            {{vendor.name}}
          </td>
          <td>
            {{vendor.uri}}
          </td>
          <td>
            <AuLink @route="vendors.details" @model={{vendor.id}} @icon="settings">{{t 'vendor.index.table.button-1'}}</AuLink>
          </td>
        </c.body>
      </f.content>
    </AuDataTable>
  </div>
</div>