<div class="au-o-body-container au-o-box au-o-layout">
  <div class="au-u-margin-top au-u-margin-bottom">

    <AuHeading @level="1" @skin="2" class="au-u-margin-bottom">
      Externe software leveranciers
    </AuHeading>

    <AuDataTable @content={{this.model}} @fields="Vendors" @noDataMessage="Geen vendors gevonden" @sort={{this.sort}}
      @size={{this.size}} @page={{this.page}} @isLoading={{isLoading}} as |t|>
      <t.content as |c|>
        <c.header>
          <AuDataTableThSortable @field="name" @currentSorting={{sort}} @label="Naam" @class="data-table__header-title" />
          <th> URI </th>
          <th> Aanpassen </th>
        </c.header>
        <c.body as |vendor|>
          <td>
            {{vendor.name}}
          </td>
          <td>
            {{vendor.uri}}
          </td>
          <td>
            <LinkTo @route="vendors.subject" @model={{vendor.id}}>Edit</LinkTo>
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  </div>
</div>