<div class="au-o-body-container au-o-box au-o-layout">
  <div class="au-u-margin-top au-u-margin-bottom">


    <AuHeading class="au-o-region">Edit vendor</AuHeading>

    <AuCard @flex="true" class="au-u-margin-bottom" as |c|>
      <c.header @badgeSkin="brand" @badgeIcon="users">
        <AuHeading @level="2" @skin="4">
          {{this.model.vendor.name}}
        </AuHeading>
      </c.header>
      <c.content>
        <p>
          <AuLabel for="input-regular">API KEY: </AuLabel>
          <AuInput id="input-regular" type={{if this.hiddenKeyState "text" "password"}}
            value="{{this.model.vendor.key}}" readonly />
          <AuButton {{on 'click' (toggle "hiddenKeyState" this)}}>Toon</AuButton>
          <AuButton {{on 'click' (fn this.copyToClipboard this.model.vendor.key)}} @skin="secondary">Kopieer</AuButton>
        </p>
      </c.content>
    </AuCard>
    <AuToolbar class="au-o-region">
      <AuToolbarGroup>

        <AuHeading @skin='3'>Toegangsrechten</AuHeading>

      </AuToolbarGroup>
      <AuToolbarGroup>
        <AuModal @buttonTitle="Toevoegen" @modalTitle="Bestuurseenheid toevoegen">
          <AuModalBody>
            <BestuurseenheidToevoegen @searchTask={{this.searchBestuursType}}
              @onListBestuurseenheden={{this.listBestuurseenheden}}
              @appendBestuurseenheid={{this.appendBestuurseenheid}}
              @bestuurseenhedenLijst={{this.bestuurseenhedenLijst}}
              @removeBestuurseenheid={{this.removeBestuurseenheid}} />
          </AuModalBody>
          <AuModalFooter>
            <AuButton {{ on 'click' (fn this.patchVendor null this.model.vendor "add")}}>Opslaan</AuButton>
          </AuModalFooter>
        </AuModal>
      </AuToolbarGroup>
    </AuToolbar>
    <AuDataTable @content={{this.model.vendor.canActOnBehalfOf}} @fields="Vendors"
      @noDataMessage="Geen vendors gevonden" @sort={{sort}} @size={{this.size}} @page={{this.page}}
      @isLoading={{isLoading}} as |t|>
      <t.content as |c|>
        <c.header>
          <th class="data-table__header-title u-hidden--mobile">Bestuurseenheid</th>
          <th class="data-table__header-title u-visible--tablet-portrait-up" style="max-width: 5rem;">Type</th>
          <th class="data-table__header-title u-visible--tablet-portrait-up" style="max-width: 5rem;">Actie</th>
        </c.header>
        <c.body as |bestuurseenheid|>
          <td>
            {{bestuurseenheid.naam}}
          </td>
          <td>
            {{bestuurseenheid.classificatie.label}}
          </td>
          <td>
            <AuButton @alert="true" {{ on 'click' (fn this.patchVendor bestuurseenheid this.model.vendor "delete")}}>
              Delete</AuButton>
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  </div>

</div>