<div class="au-o-body-container au-o-box au-o-layout au-u-margin-top au-u-margin-bottom">
    <AuHeading class="au-o-region">{{t 'vendor.subject.main.head-1'}}</AuHeading>

    <AuCard @flex="true" class="au-u-margin-bottom" as |c|>
      <c.header @badgeSkin="brand" @badgeIcon="users">
        <AuHeading @level="2" @skin="4">
          {{this.model.vendor.name}}  ({{this.model.vendor.uri}})
        </AuHeading>
      </c.header>
      <c.content>
        <div class="au-o-box">
          <AuLabel for="input-regular" class="au-u-bold">{{t 'vendor.subject.card.head-1'}}</AuLabel>
          <AuInput id="input-regular" type={{if this.hiddenKeyState "text" "password"}}
            value="{{this.model.vendor.key}}" readonly />
          <AuButton {{on 'click' (toggle "hiddenKeyState" this)}}>{{t 'vendor.subject.card.button-1'}}</AuButton>
          <AuButton {{on 'click' (fn this.copyToClipboard this.model.vendor.key)}} @skin="secondary">{{t 'vendor.subject.card.button-2'}}</AuButton>
        </div>
      </c.content>
    </AuCard>
    <AuToolbar class="au-o-region">
      <AuToolbarGroup>

        <AuHeading @skin='3'>{{t 'vendor.subject.table.head-1'}}</AuHeading>

      </AuToolbarGroup>
      <AuToolbarGroup>
        <AuModal @buttonTitle={{t 'vendor.subject.table.button-1'}} @modalTitle="{{t 'vendor.subject.modal.head-1'}}">
          <AuModalBody>
            <BestuurseenheidToevoegen @searchTask={{this.searchBestuursType}}
              @onListBestuurseenheden={{this.listBestuurseenheden}}
              @appendBestuurseenheid={{this.appendBestuurseenheid}}
              @bestuurseenhedenLijst={{this.bestuurseenhedenLijst}}
              @removeBestuurseenheid={{this.removeBestuurseenheid}} />
          </AuModalBody>
          <AuModalFooter>
            <AuButton {{ on 'click' (fn this.patchVendor null this.model.vendor "add")}}>{{t 'vendor.subject.modal.button-1'}}</AuButton>
          </AuModalFooter>
        </AuModal>
      </AuToolbarGroup>
    </AuToolbar>
    <AuDataTable @content={{this.model.vendor.canActOnBehalfOf}} @fields="Vendors"
      @noDataMessage={{t 'vendor.subject.table.not-found'}} @sort={{sort}} @size={{this.size}} @page={{this.page}}
      @isLoading={{isLoading}} as |f|>
      <f.content as |c|>
        <c.header>
          <th class="data-table__header-title u-hidden--mobile">{{t 'vendor.subject.table.r1'}}</th>
          <th class="data-table__header-title u-visible--tablet-portrait-up" style="max-width: 5rem;">{{t 'vendor.subject.table.r2'}}</th>
          <th class="data-table__header-title u-visible--tablet-portrait-up" style="max-width: 5rem;">{{t 'vendor.subject.table.r3'}}</th>
        </c.header>
        <c.body as |bestuurseenheid|>
          <td>
            {{bestuurseenheid.naam}}
          </td>
          <td>
            {{bestuurseenheid.classificatie.label}}
          </td>
          <td>
            <AuButton @alert="true" {{ on 'click' (fn this.patchVendor bestuurseenheid this.model.vendor "delete")}}>
              Delete</AuButton>
          </td>
        </c.body>
      </f.content>
    </AuDataTable>
</div>
