<div class="au-o-body-container au-o-box--large">
  <div class="au-u-margin-top">

    <AuHeading>Edit vendor</AuHeading>

    <br>
    <AuToolbar @reverse="true">

      <AuToolbarGroup>

        <AuButton @icon="add" {{on 'click' (toggle "showBestuurseenheden" this)}}>Add</AuButton>

      </AuToolbarGroup>
      <AuToolbarGroup>
        <AuCard @flex="true" as |c|>
          <c.header @badgeSkin="brand" @badgeIcon="users">
            <AuHeading @level="2" @skin="4">
              {{this.model.vendor.name}}
            </AuHeading>
          </c.header>
          <c.content>
            <label>API KEY: </label>
            <Input @type={{if this.hiddenKeyState "text" "password"  }} value="{{this.model.vendor.key}}" readonly />
            <AuButton {{on 'click' (toggle "hiddenKeyState" this)}}>Show</AuButton>
          </c.content>

        </AuCard>
        <div>

        </div>
      </AuToolbarGroup>
    </AuToolbar>
    <br>
    <AuDataTable @content={{this.model.vendor.canActOnBehalfOf}} @fields="Vendors" @noDataMessage="Geen vendors gevonden"
      @sort={{sort}} @size={{this.size}} @page={{this.page}} @isLoading={{isLoading}} as |t|>
      <t.content as |c|>
        <c.header>
          <th class="data-table__header-title u-hidden--mobile">Bestuurseenheid</th>
          <th class="data-table__header-title u-visible--tablet-portrait-up" style="max-width: 5rem;">Type</th>
          <th class="data-table__header-title u-visible--tablet-portrait-up" style="max-width: 5rem;">Actie</th>
        </c.header>
        <c.body as |row|>
          <td>
            {{row.naam}}
          </td>
          <td>
            {{row.classificatie.label}}
          </td>
          <td>
            <AuButton @alert="true" >Delete</AuButton>
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  </div>

  {{!-- {{#if this.showBestuurseenheden}} --}}
     <AuHeading @skin='3'>Add bestuurseenheid permission</AuHeading>
  <AuDataTable @content={{this.model.bestuurseenheden}} @fields="Vendors" @noDataMessage="Geen vendors gevonden"
    @sort={{sort}} @size={{this.size}} @page={{this.page}} @isLoading={{isLoading}} as |t|>
    <t.content as |c|>
      <c.header>
        <th class="data-table__header-title u-hidden--mobile">Bestuurseenheid</th>
        <th class="data-table__header-title u-visible--tablet-portrait-up" style="max-width: 5rem;">Type</th>
        <th class="data-table__header-title u-visible--tablet-portrait-up" style="max-width: 5rem;">Actie</th>
      </c.header>
      <c.body as |bestuurseenheid|>
        <td>
          {{bestuurseenheid.naam}}
        </td>
        <td>
          {{bestuurseenheid.classificatie.label}}
        </td>
        <td>
          <AuButton {{ on 'click' (fn this.addBestuurseenheid bestuurseenheid this.model.vendor)}}>add</AuButton>
        </td>
      </c.body>
    </t.content>
  </AuDataTable>

  {{!-- {{/if}} --}}
</div>