  <AuDataTable @content={{this.model}} @fields="Vendors"
    @noDataMessage={{t 'vendor.subject.table.not-found'}} @sort={{this.sort}} @size={{this.size}} @page={{this.page}}
    @isLoading={{isLoading}} as |f|>
    <f.content as |c|>
      <c.header>
         <AuDataTableThSortable @field="naam" @currentSorting={{this.sort}} @label={{t 'vendor.subject.table.row-1'}} @class="data-table__header-title" />
         <AuDataTableThSortable @field="classificatie.label" @currentSorting={{this.sort}} @label={{t 'vendor.subject.table.row-2'}} @class="data-table__header-title" />
        <th class="data-table__header-title u-visible--tablet-portrait-up" style="max-width: 5rem;">{{t 'vendor.subject.table.row-3'}}</th>
      </c.header>
      <c.body as |bestuurseenheid|>
        <td>
          {{bestuurseenheid.naam}}
        </td>
        <td>
          {{bestuurseenheid.classificatie.label}}
        </td>
        <td>
          <AuButton @alert="true" {{ on 'click' (fn this.removeFromList bestuurseenheid vendor)}}>
            Delete</AuButton>
        </td>
      </c.body>
    </f.content>
  </AuDataTable>
